
<!DOCTYPE html>

	<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	
<section>
<footer class="bg-dark text-white pt-4 pb-4">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
        <div style="position: fixed; left: 2%; bottom: 2%;" class="feedback-btn1">
  <a href="http://wa.me/918607642080"><button class="btn btn-sm" style="background: linear-gradient(to right, #001105, #0b74dc); color: #fff">Help</button></a>
  </div>
          <h5>About Us</h5>
          <p>Welcom to Enlighten Drashta, your gateway to boundless learning opportunities.
			 We're dedicated to democratizing education, offering a diverse range of courses taught by industry experts.
			  Our mission is to empower learners worldwide, fostering a community-driven platform where knowledge knows no limits.</p>
        </div>
        <div class="col-md-4">
          <h5>Links</h5>
          <ul class="list-unstyled">
            <li><a  href="/index" th:href="@{/index}"  class="text-white">Home</a></li>
            <li><a href="#" class="text-white">Services</a></li>
            <li><a href="/contact" th:href="@{/contact}" class="text-white">Contact</a></li>
            <li><a href="#" class="text-white">About</a></li>
          </ul>
        </div>
        <div class="col-md-4">
          <h5>Contact Us</h5>
          <address>
            Ramanthapur<br>
            Hyderabad, Telangana 500013 <br>
            <a href="tel:+91 8607642080" class="text-white">+91 8607642080</a><br>
            <a href="enlightendrashta@gmail.com" class="text-white">enlightendrashta@gmail.com</a>
          </address>
          <div class="social-icons mt-3">
            <a href="#" class="fab fa-facebook-f"></a>
            <a href="#" class="fab fa-twitter"></a>
            <a href="#" class="fab fa-instagram"></a>
           <a href="https://www.linkedin.com/in/rohit-tanwer-07a2832a1" class="fab fa-linkedin-in"></a>
            <a href="#" class="fab fa-youtube"></a>
        </div>
        </div>
      </div>
    </div>
</footer>
</section>

</body>
</html>